.body {
  flex: 1;
  height: 100vh;
}

/* The first 3 "IMAGE" are the backgrounds */
.image {
  position: relative;
  height: 100vh;
}

.image2 {
  position: relative;
  height: 250vh;
}

.image3 {
  position: relative;
  height: 135vh;
}

/* Content in the HOME section of the page */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}


.contentOne {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  /* opacity: .5; */
}

.contentOne span.img-txt {
  background-color: rgba(108, 122, 137, .4);
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  letter-spacing: 10px;
  border-radius: 10px;
}


.content span.img-txt {
  background-color: #333;
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font: 1.3rem;
  text-align: center;
}

.text-box {
  text-align: center;
  padding: 3rem 1rem;
  text-align: justify;
  background-color: rgba(108, 122, 137, .4);
  color: white;
}



.card-txt {
  color: black;
}

.uno {
  color: black
}


.resume-box {
  text-align: center;
  padding: 3rem 1rem;
  text-align: justify;
  background-color: #333;
  color: white;
}

.icon {
  filter: grayscale(100%);
}

.icon:hover {
  filter: none;
}

.card-text {
  font-family: sans-serif;
}

#selfie {
  border-radius: 180px;
  max-width: 330px;
  max-height: 330px;
}

.accordion {
  --bs-accordion-bg: rgba(173, 200, 229, 0.4) !important;
  --bs-accordion-color: white !important;
}

.about-me-icons {
  padding: 8px;
}

.sectionAboutMe {
  padding: 2px;


}

.sectionAboutMe2 {
  padding: 2px;

}

/* This Space is for the PROJECTS SECTIONS */

.contact-content {
  color: white;
  padding-top: 190px;
  margin: 40px;
}

.contact-display {
  font-size: 40px;
}


.contentProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 200vh;
  width: 100%;
  padding: 50px;
  transition: all .1s;
  margin: 30px;
}

figure.snip1256 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 70px;
  width: 320px;
  width: 310px;
  height: 320px;
  color: #ffffff;
  text-align: left;
  background-color: rgba(108, 122, 137, .4);
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}

figure.snip1256 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

figure.snip1256 img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  height: 300px;
}

figure.snip1256 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}

figure.snip1256 h3,
figure.snip1256 p {
  line-height: 1.5em;
}

figure.snip1256 h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}

figure.snip1256 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}

figure.snip1256 .read-more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  color: #ffffff;
  display: inline-block;
}

figure.snip1256 .read-more:hover {
  background-color: #ffffff;
  color: #000000;
}

figure.snip1256:hover img,
figure.snip1256.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}

figure.snip1256:hover figcaption,
figure.snip1256.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
  {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}


#form-btn {
  padding: 10px;
  margin: 10px;
  background-color: rgba(108, 122, 137, .4);
  color: white;

}

#form-btn:hover {
  background-color: blue;
  color: white;
}

.project-title {
  font-size: 50px;
}

@media only screen and (min-width:200px) and (max-width:767px) {
  .image2 {
    height: 360vh;
    padding-top: 650px;
    background-image: cover !important;
  }
}
/*  NAV BAR SECTION*/
#navHome {
  margin-left: -60px;
}

#navProjects {
  margin-left: -75px;
}

#navResume {
  margin-left: -74px;
}

#navContact {
  margin-left: -100px;
}

#navHome:hover,
#navProjects:hover,
#navResume:hover,
#navContact:hover {
  margin-left: 0px;

}

.nav {
  --bs-nav-link-color: white !important;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  margin-left: 0px !important;
  transition-duration: 600ms !important;
  transition: 0.8s;
  transition-timing-function: ease-out !important;
  color: white;
}

.side-nav {
  position: fixed;
  top: 0;
  z-index: 10;
}