
.body {
    flex: 1;
    height: 100vh;
}

.image {
    position: relative;
    height: 100vh;
}

.image2 {
    position: relative;
    height: 250vh;
}

.image3 {
    position: relative;
    height: 135vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}


.contentOne {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    /* opacity: .5; */
}

.contentOne span.img-txt {
    background-color: rgba(108, 122, 137, .4);
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    letter-spacing: 10px;
    border-radius: 10px;
}


.content span.img-txt {
    background-color: #333;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 6px;
    text-transform: uppercase;
    font: 1.3rem;
    text-align: center;
}

.text-box {
    text-align: center;
    padding: 3rem 1rem;
    text-align: justify;
    background-color: #333;
    color: white;
}



.contentProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 200vh;
    width: 100%;
    padding: 40px;
    transition: all .1s;
}


.card-txt {
    color: black;
}

.uno {
    color: black
}


.card-img {
    height: 350px;
}

.pop-out-card:hover {
    box-shadow: 2px 12px 15px rgb(255, 255, 255);
}

.pop-out-card.with-transform:hover {
    transform: translateY(-2px);
}

.resume-box {
    text-align: center;
    padding: 3rem 1rem;
    text-align: justify;
    background-color: #333;
    color: white;
}

.icon {
    filter: grayscale(100%);
}

.icon:hover {
    filter: none;
}

.card-text {
    font-family: sans-serif;
}

#selfie {
    border-radius: 180px;
}

.about-me-icons {
    padding: 8px;
}

.sectionAboutMe {
    padding: 2px;
    
}

.sectionAboutMe2{
    padding: 2px;
    
}
