.body {
  flex: 1;
  height: 100vh;
}

.entireBody {
  background-color: black;
}

/* The first 3 "IMAGE" are the backgrounds */
.image {
  position: relative;
  height: 100vh;
}

.image2 {
  position: relative;
  height: 280vh;
}

.image3 {
  position: relative;
  height: 200vh;
}

/* Content in the HOME section of the page */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}


.contentOne {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  /* opacity: .5; */
}

.contentOne span.img-txt {
  background-color: rgba(108, 122, 137, .4);
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  letter-spacing: 10px;
  border-radius: 10px;
}


.content span.img-txt {
  background-color: #333;
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font: 1.3rem;
  text-align: center;
}

.text-box {
  text-align: center;
  padding: 3rem 1rem;
  text-align: justify;
  background-color: rgba(108, 122, 137, .4);
  color: white;
}



.card-txt {
  color: black;
}

.uno {
  color: black
}


.resume-box {
  text-align: center;
  padding: 3rem 1rem;
  text-align: justify;
  background-color: #333;
  color: white;
}

.icon {
  filter: grayscale(100%);
}

.icon:hover {
  filter: none;
}

.card-text {
  font-family: sans-serif;
}

#selfie {
  border-radius: 180px;
  max-width: 330px;
  max-height: 330px;
}

.accordion {
  --bs-accordion-bg: rgba(173, 200, 229, 0.4) !important;
  --bs-accordion-color: white !important;
}

.about-me-icons {
  padding: 8px;
}

.sectionAboutMe {
  padding: 2px;


}

.sectionAboutMe2 {
  padding: 2px;

}

/* This Space is for the PROJECTS SECTIONS */

.contact-content {
  color: white;
  padding-top: 190px;
  margin: 40px;
}

.contact-display {
  font-size: 40px;
}


.contentProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 200vh;
  width: 100%;
  padding: 50px;
  transition: all .1s;
  margin: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
  {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}


#form-btn {
  padding: 10px;
  margin: 10px;
  background-color: rgba(108, 122, 137, .4);
  color: white;

}

#form-btn:hover {
  background-color: blue;
  color: white;
}

.project-title {
  font-size: 50px;
}

@media only screen and (min-width:200px) and (max-width:767px) {
  /* .image2 {
    height: 360vh;
    padding-top: 650px;
    background-image: url('../img/newBG2.jpg');
    background-size: 200vh;
  } */
  #work {
    width: 33vh;
    top: 600px;
    position: relative;
    left: 32px;
  }
  .image2 {
    background-attachment: scroll;
    padding-top: 20px;
    padding-bottom: 30px;
    height: 360vh;
  }
  .image {
    background-image: url("../img/newBG3.jpg");
    background-size: 100%;
  }
}

@media only screen and (min-width:771px) and (max-width:1257px) { 
.image2 {
  height: 190vh;
}
}
/*  NAV BAR SECTION*/
#navHome {
  margin-left: -60px;
}

#navProjects {
  margin-left: -75px;
}

#navResume {
  margin-left: -74px;
}

#navContact {
  margin-left: -100px;
}

#navHome:hover,
#navProjects:hover,
#navResume:hover,
#navContact:hover {
  margin-left: 0px;

}

.nav {
  --bs-nav-link-color: white !important;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  margin-left: 0px !important;
  transition-duration: 600ms !important;
  transition: 0.8s;
  transition-timing-function: ease-out !important;
  color: white;
}

.side-nav {
  position: fixed;
  top: 0;
  z-index: 10;
}

/* projects section */
.card-img {
  max-width: auto;
}

#theCards {
  background-color: rgba(108, 122, 137, .4);
  color: white;
}

p {
  color: white;
  /* margin: 0 20px 0 20px; */
}

a{
  text-decoration: none;
  color: white;
}

.underline{
  position: relative;
  margin: 0 15px 0 15px;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}