.footer {
    width: 100%;
    position: relative;
    bottom: 0%;
    z-index: 5;
    margin-top: auto;
    background-color: black;
}

.custom-icon {
    z-index: 4;
    color: white;
}

.custom-icon:hover {
    opacity: 0.6;
}
